1 ICON "/work/data/setup.ico"

1 24 MOVEABLE PURE "/build/src/setup/setup-manifest.xml"

1 VERSIONINFO
PRODUCTVERSION 5, 6, 0, 0
FILEVERSION 5, 6, 0, 0
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "5.6.0.0"
   VALUE "FileDescription", "CrispyBrowser Doom 5.6.0 Setup"
   VALUE "InternalName", "crispy-browser-doom"
   VALUE "CompanyName", "https://github.com/browser-doom/crispy-browser-doom/issues"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "CrispyBrowser Doom Setup"
   VALUE "ProductVersion", "5.6.0"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}

